<app-breadcrumb [title]="'Member List'" [breadcrumb]="'Member List'"></app-breadcrumb>
<!-- about section start -->
<section class="about-page  section-b-space">
  <div class="container">
    <div class="row">
      <div class="row">
        <!--Blog sidebar start-->
        <div class="col-xl-12 col-lg-4 col-md-5">
          <div class="row blog-media">

            <div class="col-xl-12">
              <div class="blog-right">
                <div>
                  <ul class="post-social">
                    <li ><a href="/assets/images/memberList/Pashuvaidya-Ank-Members-List.pdf" target="__blank" download><i class="fa fa-file-pdf-o" ></i> 1. Pashuvaidya Ank Members List</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>