<app-breadcrumb [title]="'Download'" [breadcrumb]="'Download'"></app-breadcrumb>
<!-- about section start -->
<section class="about-page  section-b-space">
  <div class="container">
    <div class="row">
      <div class="row">
        <!--Blog sidebar start-->
        <div class="col-xl-12 col-lg-4 col-md-5">
          <div class="row blog-media">

            <div class="col-xl-12">
              <div class="blog-right">
                <div>
                  <ul class="post-social">
                    <li ><a href="/assets/forms/1.docx" target="__blank"><i class="fa fa-file-word-o"></i> 1. उत्कृष्ट पशु विज्ञान अध्यापक</a></li>
                    <li ><a href="/assets/forms/2.docx" target="__blank"><i class="fa fa-file-word-o"></i> 2. उत्कृष्ट पशुवैद्य पुरस्कारासाठी अर्ज </a></li>
                    <li ><a href="/assets/forms/3.docx" target="__blank"><i class="fa fa-file-word-o"></i> 3. उत्कृष्ट कुक्कुटपालक पुरस्कारासाठी अर्ज </a></li>
                    <li ><a href="/assets/forms/4.docx" target="__blank"><i class="fa fa-file-word-o"></i> 4. उत्कृष्ट पशुपालक पुरस्कारासाठी अर्ज </a></li>
                    <li><a href="/assets/forms/5.docx" target="__blank"><i class="fa fa-file-word-o"></i> 5. उत्कृष्ट शेळीपालक पुरस्कारासाठी अर्ज</a></li>
                    <li ><a href="/assets/forms/6.docx" target="__blank"><i class="fa fa-file-word-o"></i> 6. उत्कृष्ट मेषपालक पुरस्कारासाठी अर्ज</a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>