.partition3 {
    .col-md-4 {
        margin-bottom: 50px;
    }
}
.blog-right {
    div {
        a {
            h5 {
                font-weight: bold;
                color: #ff0000;
                margin-bottom: 0px;
            }
        }
        ul {
            margin-bottom: 0px;
            padding-bottom: 10px;
            li {
                display: block;
                font-weight: bold;
                color: #ff0000;
                margin-bottom: 0px;
            }
        }
    }
}
