.blog-right{
    div{
        a{
            h5{
                font-weight: bold;
                color: #FF0000;
                margin-bottom: 0px;
            }
        }
        ul{
            margin-bottom: 0px;
            padding-bottom: 10px;
            li{
                display: block;
            }
        }
    }
}