.bankdetails-body{
    p{
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 14px;
    color: #777777;
    }
}
.center {
    text-align: center; /* Center-align the text */
    margin-top: 100%; /* Optional: Add margin for better appearance */
    font-size: 25px;
}
.center-div{
    text-align: center;
}