<app-breadcrumb [title]="'Contact'" [breadcrumb]="'Contact'"></app-breadcrumb>
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-4 map">
                <div class="quick-view-img">
                    <img src=".../../../../../../assets/images/contact/qr.jpg" alt="QR" class="img-fluid">
                    <!-- <div class="center-div"> Name: Amol</div>
                    <div class="center-div"> Mobile No: 9021121050</div> -->
                </div>
            </div>
            <!-- <div class="col-lg-1 map">
                <div class="center">
                    - Or -
                </div>
            </div> -->
            <!-- <div class="col-lg-4 map">
                <div class="contact-right">
                    <ul>
                        <li>
                            <h4>Bank Details</h4>
                            <div class="contact-icon">
                                 <img src="assets/images/icon/phone.png" alt="Generic placeholder image"> -->
                               <!-- <h6>Acc No</h6>
                                <h6>Bank Name</h6>
                                <h6>IFSC Code</h6>
                            </div>
                            <div class="bankdetails-body">
                                <p>XXXXXXXXXX</p>
                                <p>XXXXXXXXXX</p>
                                <p>XXXXXXXXXX</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 90-2112-1050</p>
                                <p>+91 90-1234-5678</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Sangavi, Pune </p>
                                <p>India 345-659</p>

                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Contact</h6>
                            </div>
                            <div class="media-body">
                                <p>Call Us: 123-456-7898</p>
                                <p>Email Us: support@seniorveterinarian.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Send Your Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
    <div class="container">
        <div class="row section-b-space">
            <!-- <div class="col-lg-4">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 94-2301-2494</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-4">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Dr.Sunil S. Rautmare , Tejas Elysian, A-2/404, Pallod Farm III,  </p>
                                <p>Behind Vijay Sales, Baner -Pune -411045</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Contact</h6>
                            </div>
                            <div class="media-body">
                                <p>Call Us: 94-2301-2494</p>
                                <p>Email Us: srvetmah@gmail.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->